section{
    width:100%;
    height: 100vh;
    background: linear-gradient(90deg, #1c1c1c, #08463b);
    height: 100vh; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    >div{
        display: flex;
        flex-direction: column;
        align-items: center;
        >h1{
            font-family:'karla';
            font-size: 128px;
            color: #D9D9D9;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
        }
        }
        >h2{
            font-family:'fira';
            font-size: 40px;
            color: #D9D9D9;
        }
    }
