body{
    display: flex;
    justify-content: center;
}


section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,
            #1c1c1c 40%,
            #08463b 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative; 
}
.teaser_size{
    height:100vh;
}

h1 {
    font-family: 'karla';
    font-size: 128px;
    color: #D9D9D9;
    opacity: 0;
}

h2 {
    font-family: 'fira';
    font-size: 40px;
    color: #D9D9D9;
}

.mainpage_teaser_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    height:100%;
    width:100%;
}

.main_button_section {
    width: 636px;
    display: flex;
    justify-content: space-between;

    >button {
        all: unset;
        font-family: 'karla';
        font-size: 18px;
        color: #FFFFFF;
        padding-right: 24px;
        padding-left: 24px;
        border: 1px solid #FFFFFF;
        border-radius: 100px;
        padding-top: 10px;
        padding-bottom: 10px;

        &:hover {
            cursor: pointer;
            border: 1px solid #3DCFB6;
            color: #3DCFB6;
        }
    }
}

.mainpage_banner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5.3px);
    transform: skewY(-3deg);
    margin-top: 8px;
    margin-bottom: calc(62px * 0.7);
    z-index: 1000; 
}

.mainpage_banner>.banner-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    animation: moveBanner 10s linear infinite;
}

.mainpage_banner>.banner-content>img {
    width: 6.4px;
    height: 6.4px;
    padding-left: 56px;
    padding-right: 56px;
}

.mainpage_banner>.banner-content>p {
    margin: 0;
    font-family: 'Karla';
    font-size: 32px;
    color: #3DCFB6;
    white-space: nowrap;
}

@keyframes moveBanner {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (min-width: 1441px) {
    .lateral-wrapper {
        position: relative; 
        width: 1440px;
        margin: 0 auto; 
    }
    .lateral_scroll_section_left {
        position: absolute;
        bottom: 0;
        left: 96px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .lateral_scroll_section_right {
        height: 480px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 96px;
        bottom: 0;
        gap: 24px;
    }
}

.mainpage_scroll_button {
    height: 48px;
    width: 30px;
    border-radius: 100px;
    border: 1px solid #3DCFB6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;

    &:hover {
        cursor: pointer;
    }

    >img {
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(10px);
        }
    }
}

.mainpage_scroll_line_left {
    height: 210px;
    width: 0px;
    border: 1px solid #3DCFB6;
}

.mainpage_scroll_line_right {
    height: 186px;
    width: 0px;
    border: 1px solid #3DCFB6;
}

.mainpage_lateral_mail {
    text-decoration: none;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'karla';
    &:hover{
        color:#3DCFB6;
    }
}

@media (max-width: 375px) {

    h1 {
        font-size: 62px;
        opacity: 0;
        text-align: center;
    }

    h2 {
        font-size: 24px;
    }

    .mainpage_teaser_section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 24px;
        height: 50%;
    }

    .main_button_section {
        width: 300px;
        display: flex;
        justify-content: center;
        >button {
            font-size: 18px;
            border-radius: 100px;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 110px;
            margin: 4px;
            text-align: center;
        }
    }

    .lateral_scroll_section_right {
        height: 256px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 24px;
        bottom: 0;
        gap: 24px;
    }

    .mainpage_lateral_mail {
        display: none;
    }
    .lateral_scroll_section_left {
        position: absolute; 
        bottom: 0; 
        left: 24px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; 
    }
    .mainpage_scroll_line_left{
        height: 180px;
    }

    .mainpage_banner>.banner-content>p {
        margin: 0;
        font-family: 'Karla';
        font-size: 24px;
        color: #3DCFB6;
        white-space: nowrap;
    }

    .mainpage_banner {
        height: 53px;
    }
}

@media (min-width: 375px) and (max-width: 768px){
    .mainpage_lateral_mail {
        display: none;
    }
    h1 {
        font-family: 'karla';
        font-size: 62px;
        color: #D9D9D9;
        opacity: 0;
        text-align: center;
    }

    h2 {
        font-size: 24px;
    }

    .lateral_scroll_section_left {
        position: absolute; 
        bottom: 0; 
        left: 24px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; 
    }
  
 

    .lateral_scroll_section_right {
        height: 256px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 24px;
        bottom: 0;
        gap: 24px;
    }

    .mainpage_teaser_section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height:50%;
        gap: 48px;
        >h1{
            text-align: center;
            font-size: 56px;
        }
    }

    .main_button_section {
        width: 300px;;
        display: flex;
        justify-content: space-between;
        gap: 24px;
        >button {
            all: unset;
            font-family: 'karla';
            font-size: 18px;
            color: #FFFFFF;
            padding-right: 24px;
            padding-left: 24px;
            border: 1px solid #FFFFFF;
            border-radius: 100px;
            padding-top: 10px;
            padding-bottom: 10px;
    
            &:hover {
                cursor: pointer;
                border: 1px solid #3DCFB6;
                color: #3DCFB6;
            }
        }
    }
}


@media screen and (min-width: 769px) and (max-width: 1024px){
    .lateral_scroll_section_left {
        position: absolute; /* Positioniert sich relativ zum `section` */
        bottom: 0; /* Am unteren Rand der Section */
        left:40px; /* Abstand von der linken Seite */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; /* Abstand zwischen den Elementen */
    }
    
    .lateral_scroll_section_right {
        height: 480px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 40px;
        bottom: 0;
        gap: 24px;
    }
    h1 {
        font-family: 'karla';
        font-size: 62px;
        color: #D9D9D9;
        opacity: 0;
        text-align: center;
    }

    h2 {
        font-size: 24px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px){
    .lateral_scroll_section_left {
        position: absolute; /* Positioniert sich relativ zum `section` */
        bottom: 0; /* Am unteren Rand der Section */
        left:96px; /* Abstand von der linken Seite */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; /* Abstand zwischen den Elementen */
    }
    
    .lateral_scroll_section_right {
        height: 480px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 96px;
        bottom: 0;
        gap: 24px;
    }
    h1 {
        font-family: 'karla';
        font-size: 128px;
        color: #D9D9D9;
        opacity: 0;
        text-align: center;
    }

    h2 {
        font-size: 48px;
    }
}

// @media (min-width: 1441px) {
//     .lateral_scroll_section_left {
//         position: relative;
//         bottom: 0; 
//         left: max(96px, calc(50% - 1440px)); 
//         left:96px;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         gap: 10px;
//     }
    
//     .lateral_scroll_section_right {
//         height: 480px;
//         position: absolute;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         right: max(20%, calc(50% - 1440px));
//         bottom: 0;
//         gap: 24px;
//     }
// }