<section>
    <div class="limited-container teaser_size">
        <app-header (languageChanged)="onLanguageChanged($event)"></app-header>
        <div class="mainpage_teaser_section">
            <h2 class="no-margin-block slide-in-left">{{ 'MAINPAGE.ROLE' | translate }}</h2>
            <h1 class="no-margin-block slide-in-right">{{ 'MAINPAGE.NAME' | translate }}</h1>
            <div class="main_button_section">
                <button (click)="scrollToSection('work')">{{ 'MAINPAGE.CHECK_WORK' | translate }}</button>
                <button (click)="scrollToSection('contact')">{{ 'MAINPAGE.CONTACT_ME' | translate }}</button>
            </div>
        </div>
        <!-- <div class="lateral_scroll_section_left">
            <div (click)="scrollToSection('aboutMe')" class="mainpage_scroll_button">
                <img src="../../assets/img/mainpage_section/Vector 8.png" alt="">
            </div>
            <div class="mainpage_scroll_line_left"></div>
        </div>
        <div class="lateral_scroll_section_right">
            <a class="mainpage_lateral_mail" href="mailto:dennis.dfry@gmail.com">dennis.dfry&#64;gmail.com</a>
            <a href=""><img src="../../assets/img/mainpage_section/Github.png" alt=""></a>
            <a href=""><img src="../../assets/img/mainpage_section/Property 1=Linkedin.png" alt=""></a>
            <div class="mainpage_scroll_line_right"></div>
        </div> -->
        <div class="lateral-wrapper">
            <div class="lateral_scroll_section_left">
                <div (click)="scrollToSection('aboutMe')" class="mainpage_scroll_button">
                    <img src="../../assets/img/mainpage_section/Vector 8.png" alt="">
                </div>
                <div class="mainpage_scroll_line_left"></div>
            </div>
    
            <div class="lateral_scroll_section_right">
                <a class="mainpage_lateral_mail" href="mailto:dennis.dfry@gmail.com">dennis.dfry&#64;gmail.com</a>
                <a href=""><img src="../../assets/img/mainpage_section/Github.png" alt=""></a>
                <a href=""><img src="../../assets/img/mainpage_section/Property 1=Linkedin.png" alt=""></a>
                <div class="mainpage_scroll_line_right"></div>
            </div>
        </div>
        <div class="mainpage_banner">
            <div class="banner-content">
                <img src="../../assets/img/mainpage_section/radio_button_unchecked.png" alt="">
                <p>{{ 'MAINPAGE.AVAILABLE' | translate }}</p>
                <img src="../../assets/img/mainpage_section/radio_button_unchecked.png" alt="">
                <p>{{ 'MAINPAGE.ROLE' | translate }}</p>
                <img src="../../assets/img/mainpage_section/radio_button_unchecked.png" alt="">
                <p>{{ 'MAINPAGE.BASED' | translate }}</p>
                <img src="../../assets/img/mainpage_section/radio_button_unchecked.png" alt="">
                <p>{{ 'MAINPAGE.OPEN_TO_WORK' | translate }}</p>
            </div>
        </div>
    </div>
</section>
<div class="limited-container">
    <app-about-me id="aboutMe"></app-about-me>
    <app-technologies (scrollEvent)="scrollToSection($event)"></app-technologies>
    <app-portfolio id="work"></app-portfolio>
    <app-feedback></app-feedback>
    <app-contact-me id="contact"></app-contact-me>
    <app-footer></app-footer>
</div>
