<section>
    <app-header></app-header>
    <div class="mainpage_teaser_section">
        <h2 class="no_margin_block">Frontend Developer</h2>
        <h1 class="no_margin_block">Dennis Freyer</h1>
        <div class="main_button_section">
            <button>Check my work</button>
            <button>Contact me</button>
        </div>
    </div>
    <div class="lateral_scroll_section_left">
        <div class="mainpage_scroll_button">
            <img src="../../assets/img/mainpage_section/Vector 8.png" alt="">
        </div>
        <div class="mainpage_scroll_line_left"></div>
    </div>
    <div class="lateral_scroll_section_right">
        <a class="mainpage_lateral_mail" href="mailto:dennis.dfry@gmail.com">dennis.dfry&#64;gmail.com</a>
        <a href=""><img src="../../assets/img/mainpage_section/Github.png" alt=""></a>
        <a href=""><img src="../../assets/img/mainpage_section/Property 1=Linkedin.png" alt=""></a>
        <div class="mainpage_scroll_line_right"></div>
    </div>
   
    <div class="mainpage_banner">
        <div class="banner-content">
            <img src="../../assets/img/mainpage_section/radio_button_unchecked.png" alt="">
            <p>Available for remote work</p>
            <img src="../../assets/img/mainpage_section/radio_button_unchecked.png" alt="">
            <p>Frontend Developer</p>
            <img src="../../assets/img/mainpage_section/radio_button_unchecked.png" alt="">
            <p>Based at Leipzig</p>
            <img src="../../assets/img/mainpage_section/radio_button_unchecked.png" alt="">
            <p>Open to work</p>
        </div>
    </div>
</section>
<app-about-me></app-about-me>
<app-technologies></app-technologies>