<section>
  <h2 class="no-margin-block font-fira text-turquoise font-32 font-wgh700">
    {{ 'FEEDBACK.TITLE' | translate }}
  </h2>
  <div class="comment_container">
    <div class="feedback_comments_wrapper" [style.transform]="'translateX(-' + (currentIndex * 100) + '%)'">
      <div class="feedback_comments font-karla text-white" *ngFor="let comment of comments; let i = index"
        [ngClass]="getCommentClass(i)">
        <img *ngIf="i === currentIndex" class="feedback_absolute_image" src="../../assets/img/feedback/quotes.png"
          alt="">
        <p class="font-18 comment">{{ comment}}</p>
        <div>
          <p class="font-16">{{ users[i] }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="arrow_container">
    <img (click)="prevComment()" src="../../assets/img/feedback/arrows.png" alt="Previous" class="arrow"
      [class.disabled]="currentIndex === 0" />
    <div class="scrollbar_container">
      <span *ngFor="let comment of comments; let i = index" (click)="scrollToIndex(i)"
        [class.active]="i === currentIndex" class="scrollbar_point"></span>
    </div>
    <img (click)="nextComment()" src="../../assets/img/feedback/24. Arrow - references.png" alt="Next" class="arrow"
      [class.disabled]="currentIndex === comments.length - 1" />
  </div>
</section>