<!-- <section>
    <h2 class="no-margin-block font-fira text-turquoise font-32 font-wgh700">
        What my colleagues say about me
    </h2>
    <div class="comment_container">
        <div class="feedback_comments_wrapper" [style.transform]="getTransform()">
            <div class="feedback_comments font-karla text-white" *ngFor="let comment of comments; let i = index"
                [ngClass]="getCommentClass(i)">
                <p class="font-18 comment">{{ comment}}</p>
                <div>
                    <div></div>
                    <p class="font-16">{{user[i]}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="arrow_container">
        <img (click)="prevComment()" src="../../assets/img/feedback/arrows.png" alt="Previous" class="arrow">
        <div class="scrollbar_container">
            <span *ngFor="let comment of comments; let i = index" (click)="scrollToIndex(i)"
                [class.active]="i === currentIndex" class="scrollbar_point">
            </span>
        </div>
        <img (click)="nextComment()" src="../../assets/img/feedback/24. Arrow - references.png" alt="Next"
            class="arrow">
    </div>
</section> -->
<section>
    <h2 class="no-margin-block font-fira text-turquoise font-32 font-wgh700">
      What my colleagues say about me
    </h2>
    <div class="comment_container">
      <div class="feedback_comments_wrapper">
        <div class="feedback_comments font-karla text-white"
             *ngFor="let comment of comments; let i = index"
             [ngClass]="getCommentClass(i)">
          <p class="font-18 comment">{{ comment }}</p>
          <div>
            <div></div>
            <p class="font-16">{{ user[i] }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="arrow_container">
      <img (click)="prevComment()" src="../../assets/img/feedback/arrows.png" alt="Previous" class="arrow" />
      <div class="scrollbar_container">
        <span *ngFor="let comment of comments; let i = index"
              (click)="scrollToIndex(i)"
              [class.active]="i === currentIndex"
              class="scrollbar_point"></span>
      </div>
      <img (click)="nextComment()" src="../../assets/img/feedback/24. Arrow - references.png" alt="Next" class="arrow" />
    </div>
  </section>