section {
  height: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_normal {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header_small {
  display: none;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #D9D9D9;
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4);
  padding: 16px;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 20px;

  >img {
    cursor: pointer;

    &:hover {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  >a {
    font-family: 'fira';
    font-size: 20px;
    text-decoration: none;
    color: #D9D9D9;

    &:hover {
      color: #3DCFB6;
    }
  }
}

.dropdown_menu_header {
  display: none;
  cursor: pointer;
}

.dropdown-menu {
  visibility: hidden;
  opacity: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  width: 238px;
  height: 252px;
  top: 100px;
  right: 10px;
  background: linear-gradient(45deg,
      #1c1c1c 40%,
      #08463b 100%);
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #3DCFB6;

  >a {
    display: block;
    color: #D9D9D9;
    text-decoration: none;
    padding: 8px;

    &:hover {
      color: #3DCFB6;
    }
  }
}

.dropdown-open {
  visibility: visible;
  opacity: 1;
}



@media (max-width: 375px) {
  section {
    padding: 0 8px;
  }

  .dropdown_contain {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;

    >svg {
      width: 68px;
      height: 68px;
    }
  }

  .header_normal {
    display: none;
  }

  .header_small {
    width: 100%;
    display: inline;

  }

  .header_small_contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown_image_contain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
  }

  .dropdown_image {
    width: 32px;
    height: 32px;
    padding: 16px;
  }

  .dropdown_menu_header {
    display: inline;
  }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
  section {
    padding: 0 8px;
  }

  .header_normal {
    display: none;
  }

  .header_small {
    width: 100%;
    display: inline;

  }

  .header_small_contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown_image_contain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
  }

  .dropdown_image {
    width: 32px;
    height: 32px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024) {
  .dropdown_menu_header {
    display: inline;
  }
}

@media screen and (min-width:1024px) and (max-width: 1440) {
  section {
    padding: 0 8px;
  }
}