<section>
  <div class="header_normal">
    <div class="header_left">
      <img [src]="defaultImage" (click)="switchLanguage('de')" class="" alt="">
      <button (click)="onScroll('aboutMe')">{{ 'HEADER.ABOUT_ME' | translate }}</button>
      <button (click)="onScroll('tech')" class="header_left_resp" >{{ 'HEADER.SKILLS' | translate }}</button>
      <button (click)="onScroll('work')" class="header_left_resp" >{{ 'HEADER.PROJECTS' | translate }}</button>
    </div>
    <h1>DF</h1>
  </div>
  <div class="header_small">
    <div class="header_small_contain">
      <h1>DF</h1>
      <div (click)="openDropDown()" class="dropdown_image_contain">
        <img class="dropdown_image" src="../../assets/img/header/menu.png" alt="">
      </div>
      <div class="dropdown-menu" [ngClass]="{ 'dropdown-open': isDropdownOpen }">
        <button (click)="onScroll('aboutMe')">{{ 'HEADER.ABOUT_ME' | translate }}</button>
        <button (click)="onScroll('tech')">{{ 'HEADER.SKILLS' | translate }}</button>
        <button (click)="onScroll('work')">{{ 'HEADER.PROJECTS' | translate }}</button>
        <img [src]="defaultImage" (click)="switchLanguage('de')" class="" alt="">
      </div>
    </div>
  </div>

</section>