<section>
  <div class="header_left">
    <img [src]="defaultImage" (click)="switchLanguage('de')" class="header_left_resp"  alt="">
    <a class="header_left_resp" href="">{{ 'HEADER.ABOUT_ME' | translate }}</a>
    <a class="header_left_resp" href="">{{ 'HEADER.SKILLS' | translate }}</a>
    <a class="header_left_resp" href="">{{ 'HEADER.PROJECTS' | translate }}</a>
  </div>
  <div class="dropdown_contain">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 60">
      <text class="text" x="50%" y="50%" text-anchor="middle" dominant-baseline="middle">
        <tspan class="highlight">D</tspan>
        <tspan class="normal">F</tspan>
      </text>
    </svg>
    <div (click)="openDropDown()" class="dropdown_menu_header">
      <img src="../../assets/img/header/menu.png" alt="">
    </div>
  </div>
  <div class="dropdown-menu" [ngClass]="{ 'dropdown-open': isDropdownOpen }">
    <a href="">{{ 'HEADER.ABOUT_ME' | translate }}</a>
    <a href="">{{ 'HEADER.SKILLS' | translate }}</a>
    <a href="">{{ 'HEADER.PROJECTS' | translate }}</a>
  </div>
</section>