<section>
    <div class="header_left">
        <img class="header_left_resp" src="../../assets/img/header/Property 1=Default@2x.png" alt="">
        <a class="header_left_resp" href="">About me</a>
        <a class="header_left_resp" href="">Skills</a>
        <a class="header_left_resp" href="">Projects</a>
    </div>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="fit-content" height="fit-content" viewBox="0 0 200 60">
            <defs>
            </defs>
            <text class="text" x="50%" y="50%" text-anchor="middle" dominant-baseline="middle">
              <tspan class="highlight">D</tspan>
              <tspan class="normal">F</tspan>
            </text>
          </svg>
    </div>
</section>
