section{
    background-color:#1c1c1c;
    padding-bottom: 48px;
}

.header_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_link{
    display: flex;
    flex-direction: column;
    >a {
        text-decoration: none;
        font-family: 'karla';
        font-size: 16px;
        color: #FFFFFF;
        &:hover{
            color:#3DCFB6;  
        }
    }
}
@media (max-width:320px){
    section{
        padding:8px;
        flex-direction: column;
    }
    .header_mid{
        display: none;
    }
    .header_resp{
        display: inline;
        display: flex;
        justify-content: center;
    }
    .header_top{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}