<section class="pa-le-ri-96 ">
  <div class="header_top">
    <div>
      <div class="text-white font-karla font-16">
        <h1 class="no-margin-block">DF</h1>
        <p class="no-margin-block">Web Developer</p>
        <p class="no-margin-block">Leipzig Germany</p>
      </div>
    </div>
    <div class="font-fira font-18 text-turquoise header_mid">
      <p><span class="">© </span>Dennis Freyer 2025</p>
    </div>
    <div class="footer_link">
      <a href="">Github</a>
      <a href="">LinkedIn</a>
      <a href="">Email</a>
      <a href="">Legal Notice</a>
    </div>
  </div>
  <div class="font-fira font-18 text-turquoise d-none header_resp">
    <p><span class="">© </span>Dennis Freyer 2025</p>
  </div>
</section>