section{
    background-color:#1c1c1c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 48px;
}

.footer_link{
    display: flex;
    flex-direction: column;
    >a {
        text-decoration: none;
        font-family: 'karla';
        font-size: 16px;
        color: #FFFFFF;
        &:hover{
            color:#3DCFB6;  
        }
    }
}