<section class="pa-le-ri-96 ">
  <div class="header_top">
    <div>
      <div class="text-white font-karla font-16">
        <h1 class="no-margin-block">DF</h1>
        <p class="no-margin-block">Web Developer</p>
        <p class="no-margin-block">Leipzig Germany</p>
      </div>
    </div>
    <div class="font-fira font-18 text-turquoise header_mid">
      <p><span class="">© </span>Dennis Freyer 2025</p>
    </div>
    <div class="footer_link">
      <a href="https://github.com/dennisdfry" target="_blank">Github</a>
      <a href="https://www.linkedin.com/in/dennis-freyer-53a449319/?originalSubdomain=de" target="_blank">LinkedIn</a>
      <a href="mailto:dennis.dfry@gmail.com">Email</a>
      <button class="legal_notiz_button_footer" (click)="navigateToLegalNotiz()" >Legal Notice</button>
    </div>
  </div>
  <div class="font-fira font-18 text-turquoise d-none header_resp">
    <p><span class="">© </span>Dennis Freyer 2025</p>
  </div>
</section>