<section class="pa-le-ri-96 pa-top-144">
    <div class="header_top">
        <div>
            <img src="" alt="">
            <div class="text-white font-karla font-16">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 100">
                    <defs>
                      <style>
                        .text {
                          font-family: 'fira';
                          font-size: 48px;
                          font-weight: bold;
                          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
                        }
                        .highlight {
                          fill: #3DCFB6;
                        }
                        .normal {
                          fill: white;
                        }
                      </style>
                    </defs>
                    <text x="10" y="60" class="text">
                      <tspan class="highlight">DF</tspan>
                      <tspan class="normal">reyer</tspan>
                    </text>
                  </svg>
                <p>Web Developer</p>
                <p>Leipzig Germany</p>
            </div>
        </div>
        <div class="font-fira font-18 text-turquoise header_mid">
            <p><span class="">© </span>Dennis Freyer 2025</p>
        </div>
        <div class="footer_link">
            <a href="">Github</a>
            <a href="">LinkedIn</a>
            <a href="">Email</a>
            <a href="">Legal Notice</a>
        </div>
    </div>
    <div class="font-fira font-18 text-turquoise d-none header_resp">
        <p><span class="">© </span>Dennis Freyer 2025</p>
    </div>
</section>