<section>
    <div class="about_me_left" appScrollAnimate animationClass="slide-in-left">
        <img src="../../assets/img/job_pictures/PXL_20250111_084638231~3.jpg" alt="">
    </div>
    <div class="about_me_right_align">
        <div class="about_me_right" appScrollAnimate animationClass="slide-in-right">
          <h3>Who I Am</h3>
          <div>
            <h2>About me</h2>
            <p>Hi, I'm a german speaking Frontend Developer based at Leipzig...</p>
            <div class="d-flex align-items-ctr gap24">
              <img class="img32" src="../../assets/img/about_me/14. About me Highlights icons.png" alt="">
              <p>Flexible in terms of working environments...</p>
            </div>
            <div class="d-flex align-items-ctr gap24">
              <img class="img32" src="../../assets/img/about_me/14. About me Highlights icons (1).png" alt="">
              <p>I am open-minded and always looking for personal challenges...</p>
            </div>
            <div class="d-flex align-items-ctr gap24">
              <img class="img32" src="../../assets/img/about_me/14. About me Highlights icons (2).png" alt="">
              <p>In my profession, programming isn't just about writing code...</p>
            </div>
          </div>
        </div>
      </div>
</section>