<section>
  <div class="about_me_left" appScrollAnimate animationClass="slide-in-left">
    <img src="../../assets/img/job_pictures/PXL_20250111_084638231~3.jpg" alt="">
  </div>
  <div class="about_me_right_align">
      <div class="about_me_h3_resp">
        <h3 class="font-karla text-turquoise font-24">{{ 'ABOUT_ME.WHO_I_AM' | translate }}</h3>
      </div>
      <div class="about_me_right" appScrollAnimate animationClass="slide-in-right">
        <div class="about_me_right_contain">
          <h2>{{ 'ABOUT_ME.TITLE' | translate }}</h2>
          <p class="font-karla">{{ 'ABOUT_ME.INTRO' | translate }}</p>
          <div class="d-flex align-items-ctr gap24">
            <img class="img32" src="../../assets/img/about_me/14. About me Highlights icons.png" alt="">
            <p class="font-karla">{{ 'ABOUT_ME.HIGHLIGHT_1' | translate }}</p>
          </div>
          <div class="d-flex align-items-ctr gap24">
            <img class="img32" src="../../assets/img/about_me/14. About me Highlights icons (1).png" alt="">
            <p class="font-karla">{{ 'ABOUT_ME.HIGHLIGHT_2' | translate }}</p>
          </div>
          <div class="d-flex align-items-ctr gap24">
            <img class="img32" src="../../assets/img/about_me/14. About me Highlights icons (2).png" alt="">
            <p class="font-karla">{{ 'ABOUT_ME.HIGHLIGHT_3' | translate }}</p>
          </div>
        </div>
      </div>
  </div>
</section>