<section class="pa-le-ri-96">
  <div class="contact_me_left">
    <h2 class="no-margin-block text-turquoise font-karla font-24">
      {{ 'CONTACT.TITLE' | translate }}
    </h2>
    <h1 class="no-margin-block text-turquoise font-wgh700 font-64 font-fira">
      {{ 'CONTACT.HEADER' | translate }}
    </h1>
    <h3 class="no-margin-block text-turquoise font-fira font-wgh700 font-24">
      {{ 'CONTACT.SUBHEADER' | translate }}
    </h3>
    <p class="text-white font-karla font-16">
      {{ 'CONTACT.DESCRIPTION' | translate }}
    </p>
    <div>
      <p class="text-white font-karla font-16">
        {{ 'CONTACT.CALL_TO_ACTION' | translate }}
      </p>
    </div>
  </div>
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="d-flex flex-column jtf-center max-height131 min-height130 border-top-turquoise">
      <label class="font-fira font-24 text-turquoise" for="name">
        {{ 'CONTACT.FORM.NAME_LABEL' | translate }}
      </label>
      <input class="contact_input font-karla font-18 text-white" type="text" id="name" [(ngModel)]="name" name="name"
        [placeholder]="'CONTACT.FORM.NAME_PLACEHOLDER' | translate" required minlength="3"
        pattern="^\s*[A-Za-zÄÖÜäöüß]+(?:\s+[A-Za-zÄÖÜäöüß]+)+\s*$" #nameInput="ngModel" />
      <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
        class="position_absolut contact_input font-karla font-18 text-red">
        <div class="position_absolut contact_input font-karla font-18 text-red"
          *ngIf="nameInput.errors?.['required']">
          {{ 'CONTACT.FORM.NAME_REQUIRED' | translate }}
        </div>
        <div *ngIf="nameInput.errors?.['pattern']">
          {{ 'CONTACT.FORM.NAME_PATTERN' | translate }}
        </div>
      </div>
    </div>
    <div class="d-flex flex-column jtf-center max-height131 min-height130 border-top-turquoise">
      <label class="font-fira font-24 text-turquoise" for="email">
        {{ 'CONTACT.FORM.EMAIL_LABEL' | translate }}
      </label>
      <input class="contact_input font-karla font-18 text-white" type="email" id="email" [(ngModel)]="email"
        name="email" [placeholder]="'CONTACT.FORM.EMAIL_PLACEHOLDER' | translate" required email
        #emailInput="ngModel" />
      <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="text-red font-karla font-14">
        <div class="position_absolut contact_input font-karla font-18 text-red"
          *ngIf="emailInput.errors?.['required']">
          {{ 'CONTACT.FORM.EMAIL_REQUIRED' | translate }}
        </div>
        <div class="position_absolut contact_input font-karla font-18 text-red" *ngIf="emailInput.errors?.['email']">
          {{ 'CONTACT.FORM.EMAIL_INVALID' | translate }}
        </div>
      </div>
    </div>
    <div class="d-flex flex-column jtf-center min-height130 border-top-turquoise">
      <label class="font-fira font-24 text-turquoise" for="message">
        {{ 'CONTACT.FORM.MESSAGE_LABEL' | translate }}
      </label>
      <textarea class="contact_input contact_textarea font-karla font-18" id="message" [(ngModel)]="message"
        name="message" [placeholder]="'CONTACT.FORM.MESSAGE_PLACEHOLDER' | translate" required minlength="3"
        #messageInput="ngModel"></textarea>
      <div *ngIf="messageInput.invalid && (messageInput.dirty || messageInput.touched)"
        class="text-red font-karla font-14">
        <div class="contact_input font-karla font-18 text-red" *ngIf="messageInput.errors?.['required']">
          {{ 'CONTACT.FORM.MESSAGE_REQUIRED' | translate }}
        </div>
        <div class="contact_input font-karla font-18 text-red"
          *ngIf="messageInput.errors?.['minlength'] && messageInput.value?.length > 0">
          {{ 'CONTACT.FORM.MESSAGE_MINLENGTH' | translate }}
        </div>
      </div>
    </div>
    <div class="checkbox-container max-height131 min-height130 border-top-turquoise font-karla font-15 text-white">
      <input class="checkbox_design" type="checkbox" id="privacy" [(ngModel)]="privacyAccepted" name="privacy" required
        #privacyInput="ngModel" />
      <div class="privacy_direction gap4">
        <label for="privacy" class="privacy_label">
          {{ 'CONTACT.FORM.PRIVACY_POLICY_ONE' | translate }} <span (click)="navigateToLegalNotiz()"
            routerLink="/legal-notiz" class="font-karla font-15 text-turquoise pointer">Datenschutzrichtlinien</span> {{
          'CONTACT.FORM.PRIVACY_POLICY_TWO' | translate }}
        </label>
        <div *ngIf="privacyInput.invalid && (privacyInput.dirty || privacyInput.touched)"
          class="contact_input font-karla font-18 text-red privacy_label">
          {{ 'CONTACT.FORM.PRIVACY_REQUIRED' | translate }}
        </div>
      </div>
    </div>
    <div class="d-flex jtf-center">
      <button [class.shake]="contactForm.valid" class="contact_me_button font-18 font-karla" type="submit"
        [disabled]="contactForm.invalid || !privacyAccepted">
        {{ 'CONTACT.FORM.SUBMIT_BUTTON' | translate }}
      </button>
    </div>
  </form>
  <div *ngIf="showSuccessMessage" class="success-message">
    E-Mail erfolgreich versendet!
  </div>
</section>