<section class="pa-le-ri-96">
    <div class="contact_me_left">
        <h2 class="no-margin-block text-turquoise font-karla font-24">Contact me</h2>
        <H1 class="no-margin-block text-turquoise font-wgh700 font-64 font-fira">Let's work together</H1>
        <h3 class="no-margin-block text-turquoise font-fira font-wgh700 font-24">Got a problem to solve?</h3>
        <p class="text-white font-karla font-16">Contact me through this form , I am interested in hearing from you,
            knowing your ideas and contributing
            to your projects with my work.</p>
        <div>
            <p class="text-white font-karla font-16">Need a Frontend developer?
                <span class="text-turquoise">Let's talk!</span>
            </p>
        </div>
    </div>
    <form class="d-flex" action="/submit" method="post">
        <div class="d-flex flex-column max-height131 min-height130 border-top-turquoise">
            <label class="font-fira font-24 text-turquoise" for="name">What's your name?</label>
            <input class="contact_input font-karla font-18 text-white" type="text" id="name" name="name"
                placeholder="Geben Sie Ihren Namen ein" required pattern="[A-Za-zÄÖÜäöüß\s]+"
                title="Nur Buchstaben und Leerzeichen sind erlaubt.">
        </div>
        <div class="d-flex flex-column max-height131 min-height130 border-top-turquoise">
            <label class="font-fira font-24 text-turquoise" for="email">What's your email?</label>
            <input class="contact_input font-karla font-18 text-white" type="email" id="email" name="email"
                placeholder="Geben Sie Ihre E-Mail-Adresse ein" required>
        </div>
        <div class="d-flex flex-column max-height131 min-height130 border-top-turquoise">
            <label class="font-fira font-24 text-turquoise" for="message">How can I help you?</label>
            <textarea class="contact_input contact_textarea font-karla font-18" id="message" name="message"
                placeholder="Schreiben Sie Ihre Nachricht hier..." required rows="5"></textarea>
        </div>
        <div class="checkbox-container max-height131 min-height130 border-top-turquoise font-karla font-15 text-white">
            <input class="checkbox_design" type="checkbox" id="privacy" name="privacy" required>
            <label for="privacy">I've read the <span class="text-turquoise">privacy policy</span> and agree to the
                processing of my data as outlined</label>
        </div>
        <div class="d-flex jtf-center">
            <button class="contact_me_button font-18 font-karla" type="submit">Say Hello ;)</button>
        </div>
    </form>
</section>