<section class="pa-le-ri-96">
    <h3 class="text-turquoise font-karla">Technologies</h3>
    <div class="technologies_contain">
        <div class="technologies_left border-ra30" appScrollAnimate animationClass="slide-in-left">
            <h2 class="text-turquoise font-fira font-64 no-margin-block">Skill Set</h2>
            <p class="font-karla text-white font-18">My journey has involved working on diverse projects, employing a range of frontend technologies and
                concepts.
                I am open to embracing new technologies and methologies to Continously enhance my skills and stay ahead
                in
                the ever-evolving landscape of web development.</p>
            <h4 class="font-fira"><span class="text-white">You need</span><span class="text-turquoise">another skill?</span></h4>
            <p class="text-white font-karla font-16">Feel free to contact me. I look forward to expanding on my previous knowlegde.</p>
            <div class="technologies_button">
                  <marquee class="">Nachrichtenticker</marquee>
            </div>
        </div>
        <div class="technologies_right"appScrollAnimate animationClass="slide-in-right">
            <img src="../../assets/img/technologies/HTML.png" alt="">
            <img src="../../assets/img/technologies/17. Skill animation.png" alt="">
            <img src="../../assets/img/technologies/JavaScript.png" alt="">
            <img src="../../assets/img/technologies/Material Design.png" alt="">
            <img src="../../assets/img/technologies/TypeScript.png" alt="">
            <img src="../../assets/img/technologies/Angular.png" alt="">
            <img src="../../assets/img/technologies/Firebase.png" alt="">
            <img src="../../assets/img/technologies/GIT.png" alt="">
            <img src="../../assets/img/technologies/Rest-Api.png" alt="">
            <img src="../../assets/img/technologies/Scrum.png" alt="">
            <img src="../../assets/img/technologies/18. Growth Mindset interaction.png" alt="">
        </div>
    </div>
</section>