<section>
    <h3>Technologies</h3>
    <div class="technologies_contain">
        <div class="technologies_left">
            <h2>Skill Set</h2>
            <p>My journey has involved working on diverse projects, employing a range of frontend technologies and
                concepts.
                I am open to embracing new technologies and methologies to Continously enhance my skills and stay ahead
                in
                the ever-evolving landscape of web development.</p>
            <h3>You need another skill</h3>
            <p>Feel free to contact me. I look forward to expanding on my previous knowlegde.</p>
            <div>
                <button>Let's Talk</button>
            </div>
        </div>
        <div class="technologies_right">
            <img src="../../assets/img/technologies/HTML.png" alt="">
            <img src="../../assets/img/technologies/17. Skill animation.png" alt="">
            <img src="../../assets/img/technologies/JavaScript.png" alt="">
            <img src="../../assets/img/technologies/Material Design.png" alt="">
            <img src="../../assets/img/technologies/TypeScript.png" alt="">
            <img src="../../assets/img/technologies/Angular.png" alt="">
            <img src="../../assets/img/technologies/Firebase.png" alt="">
            <img src="../../assets/img/technologies/GIT.png" alt="">
            <img src="../../assets/img/technologies/Rest-Api.png" alt="">
            <img src="../../assets/img/technologies/Scrum.png" alt="">
            <img src="../../assets/img/technologies/18. Growth Mindset interaction.png" alt="">
        </div>
    </div>
</section>