<section class="pa-le-ri-96">
    <h3 class="text-turquoise font-karla">{{ 'TECHNOLOGIES.TITLE' | translate }}</h3>
    <div class="technologies_contain">
        <div class="technologies_left border-ra30" appScrollAnimate animationClass="slide-in-left">
            <h2 class="text-turquoise font-fira font-64 no-margin-block">{{ 'TECHNOLOGIES.SKILL_SET' | translate }}</h2>
            <p class="font-karla text-white font-18">{{ 'TECHNOLOGIES.INTRO' | translate }}</p>
            <h4 class="font-fira"><span class="text-white">{{ 'TECHNOLOGIES.NEED_ANOTHER_SKILL_PART_ONE' | translate }}</span><span class="text-turquoise">{{ 'TECHNOLOGIES.NEED_ANOTHER_SKILL_PART_TWO' | translate }}</span>
            </h4>
            <p class="text-white font-karla font-16">{{ 'TECHNOLOGIES.CONTACT_ME' | translate }}</p>
            <div class="technologies_button">
                <marquee (click)="onButtonClick()">{{ 'TECHNOLOGIES.LETS_TALK' | translate }}</marquee>
            </div>
        </div>
        <div class="technologies_right" appScrollAnimate animationClass="slide-in-right">
            <img src="../../assets/img/technologies/HTML.png" alt="HTML">
            <img src="../../assets/img/technologies/17. Skill animation.png" alt="Skill Animation">
            <img src="../../assets/img/technologies/JavaScript.png" alt="JavaScript">
            <img src="../../assets/img/technologies/Material Design.png" alt="Material Design">
            <img src="../../assets/img/technologies/TypeScript.png" alt="TypeScript">
            <img src="../../assets/img/technologies/Angular.png" alt="Angular">
            <img src="../../assets/img/technologies/Firebase.png" alt="Firebase">
            <img src="../../assets/img/technologies/GIT.png" alt="Git">
            <img src="../../assets/img/technologies/Rest-Api.png" alt="Rest API">
            <img src="../../assets/img/technologies/Scrum.png" alt="Scrum">
            <img src="../../assets/img/technologies/18. Growth Mindset interaction.png" alt="Growth Mindset">
        </div>
    </div>
</section>