section {
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 144px;
    height:695px;
    background: radial-gradient(circle at left, #08463b  0%, #1c1c1c 22% );
}
.technologies_contain{
    display: flex;
}
.technologies_left{

}

.technologies_right{

}