section {
    padding-top: 144px;
    background: radial-gradient(circle at left, #08463b 0%, #1c1c1c 22%);
    height: fit-content;
    >h3 {
        font-size: 24px;
    }
}

.technologies_contain {
    display: flex;
    justify-content: space-between;
}

.technologies_left {
    opacity: 0;
    width: 520px;
    height: 503px;
    padding: 32px;
    border: 1px solid #3DCFB6;
    background-color: rgb(31, 46, 43);
    backdrop-filter: blur(4);
}

.technologies_right {
    margin: 16px;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    width: 632px;
    height: fit-content;
    gap: 56px;

    >img {
        gap: 8px;
        width: 104px;
        height: 116px;
    }
}

.technologies_button {
    border: 1px solid #FFFFFF;
    width: 122px;
    height: 48px;
    border-radius: 100px;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    position: relative;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.technologies_button marquee {
    border-radius: 100px; 
    display: block; 
    width: 100%; 
    height: 100%; 
    line-height: 48px; 
}

@media (max-width:375px) {
    section {
        padding-top: 40px;
        padding-left: 8px;
        padding-right: 8px;
        height: fit-content;
        // width: 300px;
        background: radial-gradient(circle at left, #08463b 0%, #1c1c1c 22%);

        >h3 {
            margin-block-start: 0;
            font-size: 24px;
        }
    }

    h2 {
        font-size: 56px;
        padding:8px;
        overflow-wrap: break-word;
    }

    .technologies_contain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .technologies_left {
        opacity: 0;
        width: 280px;
        height: fit-content;
        padding: 8px;
        border: 1px solid #3DCFB6;
        background-color: rgb(31, 46, 43);
        backdrop-filter: blur(4);
    }

    .technologies_right {
        opacity: 0;
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        gap: 40px;

        >img {
            gap: 8px;
            width: 104px;
            height: 116px;
        }
    }
}

@media (min-width: 375px) and (max-width: 768px){
    .technologies_left {
        opacity: 0;
        width: 280px;
        height: fit-content;
        padding: 8px;
        border: 1px solid #3DCFB6;
        background-color: rgb(31, 46, 43);
        backdrop-filter: blur(4);
    }
    section {
        padding-top: 40px;
        padding-left: 8px;
        padding-right: 8px;
        height: fit-content;
        // width: 300px;
        background: radial-gradient(circle at left, #08463b 0%, #1c1c1c 22%);

        >h3 {
            margin-block-start: 0;
            font-size: 24px;
            text-align: center;
        }
    }

    .technologies_contain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .technologies_right {
        max-width: 280px;
        opacity: 0;
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        gap: 40px;

        >img {
            gap: 8px;
            width: 104px;
            height: 116px;
        }
    }

}

@media (min-width: 768px) and (max-width: 1024px){
    .technologies_right {
        max-width: 360px;
        opacity: 0;
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        gap: 16px;

        >img {
            gap: 8px;
            width: 104px;
            height: 116px;
        }
    }

    .technologies_left {
        opacity: 0;
        width: 360px;
        height: fit-content;
        padding: 8px;
        border: 1px solid #3DCFB6;
        background-color: rgb(31, 46, 43);
        backdrop-filter: blur(4);
    }
}
