<div class="overlay" *ngIf="isOverlayVisible">
    <div class="overlay-container">
        <div class="close-button-contain">
            <button class="close-button" (click)="hideOverlay()">X</button>
        </div>
        <div class="project-content">
            <div class="project-description">
                <h1 class="text-turquoise font-karla font-64 no-margin-block">0{{currentProjectIndex +1}}</h1>
                <h2 class="overlay-title font-fira text-white font-64 no-margin-block">{{ currentProject.title }}</h2>
                <h3 class="font-fira font-24 text-turquoise">What is this project about?</h3>
                <p class="overlay-description font-karla text-white font-18">
                    {{ currentProject.description }}
                </p>
                <div class="technologies_portfolio gap16">
                    <div class="d-flex gap4 align-items-ctr" *ngFor="let tech of currentProject.technologies">
                        <img class="img24" [src]="getTechImage(tech)" [alt]="tech">
                        <p class="font-karla font-16 text-white">{{tech}}</p>
                    </div>
                </div>
            </div>
            <div class="project-image">
                <img class="project-picture" [src]="currentProject.image"
                    [alt]="currentProject.title + ' Project Image'" />
            </div>
        </div>
        <div class="project-buttons d-flex gap16">
            <button class="open-portfolio-button" (click)="openGithub(currentProject.githubUrl)">
                GitHub
                <div class="icon-container">
                    <img src="../../assets/img/portfolio/arrow_outward.png" alt="Arrow Icon">
                </div>
            </button>
            <button class="open-portfolio-button" (click)="openProject(currentProject.liveUrl)">
                Live Test
                <div class="icon-container">
                    <img src="../../assets/img/portfolio/arrow_outward.png" alt="Arrow Icon">
                </div>
            </button>
        </div>
        <div class="next-button-contain">
            <button class="next-project-button " (click)="goToNextProject()">Next Project<img
                    src="../../assets/img/portfolio/arrow_forward.png"></button>
        </div>
    </div>
</div>
<section class="pa-le-ri-96">
    <h3 class="font-24 text-turquoise font-karla no-margin-block">Portfolio</h3>
    <div class="portfolio-container">
        <div class="portfolio-buttons">
            <button class="portfolio_button pointer" appScrollAnimate animationClass="slide-in-left"
                (mouseenter)="showImage('../../assets/img/portfolio/JOIN (1).png')" (mouseleave)="hideImage()"
                (click)="showOverlay(0)">
                <h3 class="portfolio_title no-margin-block font-fira font-24 text-white font-wgh700">Join</h3>
                <div class=" d-flex font-karla text-white">
                    <p class="no-margin-block d-flex ">Angular</p>
                    <div class="portfolio_seperator"></div>
                    <p class="no-margin-block d-flex ">TypeScript</p>
                    <div class="portfolio_seperator"></div>
                    <p class="no-margin-block d-flex ">HTML</p>
                    <div class="portfolio_seperator"></div>
                    <p class="no-margin-block d-flex ">CSS</p>
                    <div class="portfolio_seperator"></div>
                    <p class="no-margin-block d-flex ">Firebase</p>
                </div>
            </button>
            <button class="portfolio_button pointer" appScrollAnimate animationClass="slide-in-right"
                (mouseenter)="showImage('../../assets/img/portfolio/EL-POLLO-LOCO.png')" (mouseleave)="hideImage()"
                (click)="showOverlay(1)">
                <h3 class="portfolio_title font-fira font-24 text-white font-wgh700">El Pollo Loco</h3>
                <div class="d-flex font-karla text-white">
                    <p class="no-margin-block d-flex ">HTML</p>
                    <div class="portfolio_seperator"></div>
                    <p class="no-margin-block d-flex ">CSS</p>
                    <div class="portfolio_seperator"></div>
                    <p class="no-margin-block d-flex ">JavaScript</p>
                </div>
            </button>
            <button class="portfolio_button portfolio_button_last pointer" appScrollAnimate
                animationClass="slide-in-left" (mouseenter)="showImage('../../assets/img/portfolio/DABUBBLE.png')"
                (mouseleave)="hideImage()" (click)="showOverlay(2)">
                <h3 class="portfolio_title font-fira font-24 text-white font-wgh700">Da Bubble</h3>
                <div class="d-flex font-karla text-white">
                    <p class="no-margin-block d-flex ">Angular</p>
                    <div class="portfolio_seperator"></div>
                    <p class="no-margin-block d-flex ">Firebase</p>
                    <div class="portfolio_seperator"></div>
                    <p class="no-margin-block d-flex ">TypeScript</p>
                </div>
            </button>
        </div>
        <div class="image-preview" *ngIf="hoveredImage">
            <img [src]="hoveredImage" alt="Project Preview">
        </div>
    </div>
</section>