<section class="pa-le-ri-96">
    <h3 class="font-24 text-turquoise font-karla no-margin-block">Portfolio</h3>
    <div>
        <h1 class="font-fira font-64 text-turquoise no-margin-block">Featured Projects</h1>
        <p class="font-karla text-white font-18">Explore a section of my work here - Interact with projects to see my
            skills in action.</p>
        <button class="portfolio_button pointer" appScrollAnimate animationClass="slide-in-left">
            <span class="font-fira font-24 text-white font-wgh700">Join</span>
            <div class="font-karla font-18 text-white">
                <span>Angular</span>
                <span>TypeScript</span>
                <span>HTML</span>
                <span>CSS</span>
                <span>Firebase</span>
            </div>
        </button>
        <button class="portfolio_button pointer" appScrollAnimate animationClass="slide-in-right">
            <span class="font-fira font-24 text-white font-wgh700">El Pollo Loco</span>
            <div class="font-karla font-18 text-white">
                <span>HTML</span>
                <span>CSS</span>
                <span>JavaScript</span>
            </div>
        </button>
        <button class="portfolio_button portfolio_button_last pointer" appScrollAnimate animationClass="slide-in-left">
            <span class="font-fira font-24 text-white font-wgh700">Da Bubble</span>
            <div class="font-karla font-18 text-white">
                <span>Angular</span>
                <span>Firebase</span>
                <span>TypeScript</span>
            </div>
        </button>
    </div>
</section>