<div class="background">
  <div class="limited-container">
    <app-header></app-header>
    <section class="legal-notiz-overlay">
      <div class="next-button-impressum">
        <button class="next-project-impressum" (click)="navigateToImpressum()" >Impressum</button>
      </div>
      <div class="legal_notiz">
        <h2>{{ 'PRIVACY_POLICY.TITLE' | translate }}</h2>

        <h2>{{ 'PRIVACY_POLICY.RESPONSIBLE_PARTY.HEADER' | translate }}</h2>
        <p [innerHTML]="'PRIVACY_POLICY.RESPONSIBLE_PARTY.TEXT' | translate"></p>
        <a href="mailto:{{ 'PRIVACY_POLICY.RESPONSIBLE_PARTY.EMAIL_LINK' | translate }}">
          {{ 'PRIVACY_POLICY.RESPONSIBLE_PARTY.EMAIL_LINK' | translate }}
        </a>

        <h2>{{ 'PRIVACY_POLICY.DATA_COLLECTION.HEADER' | translate }}</h2>
        <p>{{ 'PRIVACY_POLICY.DATA_COLLECTION.TEXT' | translate }}</p>

        <h2>{{ 'PRIVACY_POLICY.CONTACT.HEADER' | translate }}</h2>
        <p>{{ 'PRIVACY_POLICY.CONTACT.TEXT' | translate }}</p>

        <h2>{{ 'PRIVACY_POLICY.LEGAL_BASIS.HEADER' | translate }}</h2>
        <p>{{ 'PRIVACY_POLICY.LEGAL_BASIS.TEXT' | translate }}</p>

        <h2>{{ 'PRIVACY_POLICY.STORAGE_DURATION.HEADER' | translate }}</h2>
        <p>{{ 'PRIVACY_POLICY.STORAGE_DURATION.TEXT' | translate }}</p>

        <h2>{{ 'PRIVACY_POLICY.DATA_SHARING.HEADER' | translate }}</h2>
        <p>{{ 'PRIVACY_POLICY.DATA_SHARING.TEXT' | translate }}</p>

        <h2>{{ 'PRIVACY_POLICY.YOUR_RIGHTS.HEADER' | translate }}</h2>
        <ul>
          <li *ngFor="let right of 'PRIVACY_POLICY.YOUR_RIGHTS.LIST' | translate">{{ right }}</li>
        </ul>
        <p>{{ 'PRIVACY_POLICY.YOUR_RIGHTS.TEXT' | translate }}</p>

        <h2>{{ 'PRIVACY_POLICY.COOKIES.HEADER' | translate }}</h2>
        <p>{{ 'PRIVACY_POLICY.COOKIES.TEXT' | translate }}</p>

        <h2>{{ 'PRIVACY_POLICY.DATA_SECURITY.HEADER' | translate }}</h2>
        <p>{{ 'PRIVACY_POLICY.DATA_SECURITY.TEXT' | translate }}</p>

        <h2>{{ 'PRIVACY_POLICY.CHANGES.HEADER' | translate }}</h2>
        <p>{{ 'PRIVACY_POLICY.CHANGES.TEXT' | translate }}</p>

        <p><strong>{{ 'PRIVACY_POLICY.LAST_UPDATED' | translate }}</strong></p>

        <div class="next-button-impressum ">
          <button class="next-project-impressum " (click)="navigateToLegalNotiz()">{{ 'PRIVACY_POLICY.CLOSE_BUTTON' | translate }}</button>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
  </div>
</div>