@font-face {
    font-family: 'fira'; /* Name der Schriftart */
    src: url('assets/fonts/Fira/FiraCode-Medium.ttf') format('truetype'); /* Pfad zur .ttf-Datei */
    font-weight: normal;
    font-style: normal;
  }

body{
    margin:0px;
}


