.no-margin-block{
    margin-block-start: 0;
    margin-block-end: 0;
}
.pointer{
    cursor: pointer;
}
.d-flex{
    display: flex;
}
.d-none{
    display: none;
}
.flex-column{
    flex-direction: column;
}
.jtf-center{
    justify-content: center;
}
.img32{
    width:32px;
    height:32px;
}
.img24{
    width:24px;
    height:24px;
}
.align-items-ctr{
    align-items: center;
}

.text-turquoise{
    color:#3DCFB6;
}
.text-white{
    color:#FFFFFF;
}
.font-karla{
    font-family: 'karla';
}
.font-fira{
    font-family: 'fira';
}
.font-wgh700{
    font-weight: 700;
}
.pa-le-ri-96{
    padding-left: 96px;
    padding-right: 96px;
}

.pa-top-144{
    padding-top: 144px;
}
.font-18{
    font-size: 18px;
}
.font-24{
    font-size: 24px;
}
.font-32{
    font-size: 32px;
}

.font-15{
    font-size: 15px;
}
.font-16{
    font-size: 16px;
}
.font-64{
    font-size: 64px;
}
.font-20{
    font-size: 20px;
}
.font-128{
    font-size: 128px;
}
.border-ra30{
    border-radius: 30px;
}
.border-ra100{
    border-radius: 100px;
}

.gap4{
    gap: 4px;
}
.gap16{
    gap:16px;
}
.gap24{
    gap:24px;
}

.max-height131{
    max-height: 131px;
}
.min-height130{
    min-height: 130px;
}

.border-top-turquoise{
    border-top:1px solid #3DCFB6;
}
.hidden {
    display: none;
  }